---
import { getDoubanMusic, type MusicItem } from '@/api/get-douban-music'
import TrackList from '@/components/TrackList'
import Layout from '@/layouts/Layout.astro'

const { id } = Astro.params

export async function getStaticPaths() {
	const musicList = await getDoubanMusic()
	return musicList.map((musicItem) => ({
		params: { id: musicItem.id },
		props: musicItem
	}))
}

const {
	songName,
	songImgHref,
	songDoubanHref,
	songArtist,
	songYear,
	songAlbumType,
	songMedium,
	songStyle,
	songItemList
} = Astro.props
---

<Layout title={songName}>
	<section class="pb-24">
		<div
			class="container mx-auto flex max-w-screen-lg flex-col items-start px-6 pb-12 pt-8 md:flex-row md:items-start lg:px-0"
		>
			<img
				src={songImgHref}
				alt={songName}
				width={400}
				height={400}
				class="rounded-md shadow-sm"
				style={`view-transition-name: album-${id}`}
			/>
			<div class="ml-4 mt-10 flex flex-col justify-start gap-4">
				<div class="text-5xl font-bold">{songName}</div>
				<div class="text-3xl text-gray-700">{songArtist}</div>
				<div class="text-lg text-gray-700">{songYear}</div>
				<div class="text-lg text-gray-700">{songAlbumType}</div>
				<div class="text-lg text-gray-700">{songMedium}</div>
				<div class="text-lg text-gray-700">{songStyle}</div>
			</div>
		</div>
		<div class="container mx-auto mb-10 max-w-screen-lg px-6 lg:px-0">
			<h2 class="py-2 text-2xl font-bold">歌曲列表</h2>
			<div class="flex flex-col gap-2">
				{
					songItemList.map((item) => (
						<TrackList
							songName={item.name}
							songArtist={songArtist}
							songImgHref={songImgHref}
							mp3Url={item?.mp3Url || ''}
							index={item.id}
							client:visible
						/>
					))
				}
			</div>
		</div>
	</section>
</Layout>
