---
import { getDoubanMusic, type MusicItem } from '@/api/get-douban-music'
import Cover from '@/components/Cover'
import PlayButton from '@/components/PlayButton'
import TrackList from '@/components/TrackList'
import Layout from '@/layouts/Layout.astro'

const { id } = Astro.params

export async function getStaticPaths() {
	const musicList = await getDoubanMusic()
	return musicList.map((musicItem) => ({
		params: { id: musicItem.id },
		props: musicItem
	}))
}

const {
	songName,
	songImgHref,
	// songDoubanHref,
	songArtist,
	songYear,
	songAlbumType,
	songMedium,
	songStyle,
	songItemList
} = Astro.props as MusicItem

const songList = songItemList.map((item, index) => ({
	id: item.id,
	albumId: id,
	index,
	songArtist,
	songName: item.name,
	songImgHref,
	mp3Url: item.mp3Url,
	duration: item.duration
}))
---

<Layout title={`${songName} - ${songArtist} - Douban Music`}>
	<section>
		<div
			class="container mx-auto flex max-w-screen-lg flex-col items-start gap-6 px-6 pb-12 pt-8 md:flex-row md:items-start lg:px-0"
		>
			<Cover
				albumId={id}
				songArtist={songArtist}
				songImgHref={songImgHref}
				songName={songName}
				client:visible
			/>
			<div class="flex flex-1 flex-col justify-end gap-6">
				<div class="text-3xl font-bold tracking-tight">{songName}</div>
				<div class="text-xl">{songArtist}</div>
				<div class="text-lg">
					{songYear}
				</div>
				<div class="text-lg">
					{songAlbumType}
				</div>
				<div class="text-lg">
					{songMedium}
				</div>
				<div class="text-lg">
					{songStyle}
				</div>
				<div class="mt-3">
					<PlayButton songList={songList} client:only="react" />
				</div>
			</div>
		</div>
		<div class="container mx-auto mb-10 max-w-screen-lg lg:px-0">
			<!-- <h2 class="py-2 text-2xl font-bold">歌曲列表</h2> -->
			<div class="flex flex-col">
				{
					songItemList.map((item, index) => (
						<TrackList songList={songList} id={item.id} index={index} client:only="react" />
					))
				}
			</div>
		</div>
	</section>
</Layout>
