---
import { type MusicItem } from '@/api/get-douban-music'
import { Image } from 'astro:assets'

const { id, songName, songImgHref, songArtist, songItemList } = Astro.props as MusicItem

// 显示当前专辑的歌曲数量
const songItemListLength = songItemList.length
// 显示当前专辑下歌曲包含mp3的数量
const mp3Count = songItemList.filter((item) => item.mp3Url).length
---

<div class="flex cursor-pointer flex-col gap-2">
	<a href={`/album/${id}`} class="hover:text-blue-500">
		<div class="shadow-md hover:shadow-lg" transition:name={`album-${id}`}>
			<Image
				src={songImgHref}
				alt={songName}
				width={400}
				height={400}
				class="aspect-square rounded-md"
			/>
		</div>
		<div class="truncate text-pretty pt-2 text-sm">{songName}</div>
		<div class="pt-1 text-sm text-gray-700 dark:text-gray-300">
			{songArtist} ({mp3Count} / {songItemListLength})
		</div>
	</a>
</div>
